*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: green;
}

#scoreboard {
    background-color: #005000;
    padding: 10px;
    color: #CCC;
    font-size: 1.2em;
    word-spacing: 0.3em;
}

#help, #play_again
{
    cursor: pointer;
}

#score {
    float: right;
    padding-right: 10px;
}

#playboard {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5%;
    display: flex;
    justify-content: center;
}

#playboard .card_area
{
    width: 7.5vw;
    height: 10.45vw;
    background-color: hsla(0, 0%, 100%, 0.5);
    display: inline-block;
    border-radius: 2px;
    margin: 3px;
    vertical-align: top;
}

#playboard .empty_area
{
    visibility: hidden;
}

#final_areas, #remaining_cards, #piles_of_cards
{
    display:inline-flex;
    margin: 35px 0;
}

card-t
{
    cursor: pointer;
}

#initial_page
{
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 75%, 0.6);
    text-align: center;
    backdrop-filter: blur(5px);
    display: none;
    position: absolute;
    /* display: flex; */
    flex-flow: column wrap;
    justify-content: center;
}

#initial_page h1 {
    font-family: 'Lobster', Impact, fantasy;
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 0.1em;
    color: #232323;
}

#initial_page h2 {
    border: 3px solid hsla(0, 0%, 50%, 0.5);
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: hsla(0, 0%, 70%, 0.5);
    text-transform: uppercase;
    font-family: 'Special Elite', cursive;
    padding: 15px 0 5px 0;
    font-size: 2em;    
    color: #222;
}

#initial_page h2:hover{
    border-color: hsla(0, 0%, 70%, 1);
    color: #BBB;
    background-color: hsla(0, 0%, 50%, 0.5);
    cursor: pointer;
}

/*JS classes*/

.card-is-moving
{
    z-index: 100;
}



