body
{
    margin: 0;
    padding: 0;
    background-color: green;
}

#playboard
{
    display: none;
}

#initial_page
{
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 75%, 0.6);
    text-align: center;
}

#initial_page h1 {
    font-family: 'Alfa Slab One', Impact, fantasy;
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 0.2em;
}


