body
{
    margin: 0;
    padding: 0;
    background-color: green;
}

#playboard
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#initial_page
{
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 75%, 0.6);
    text-align: center;
    backdrop-filter: blur(5px);
    display: none;
}

#initial_page h1 {
    font-family: 'Lobster', Impact, fantasy;
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 0.1em;
    color: #232323;
}

#initial_page h2 {
    border: 3px solid hsla(0, 0%, 50%, 0.5);
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: hsla(0, 0%, 70%, 0.5);
    text-transform: uppercase;
    font-family: 'Special Elite', cursive;
    padding: 15px 0 5px 0;
    font-size: 2em;    
    color: #222;
}

#initial_page h2:hover{
    border-color: hsla(0, 0%, 70%, 1);
    color: #BBB;
    background-color: hsla(0, 0%, 50%, 0.5);
    cursor: pointer;
}



